@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #f1f5f9; /* background-light */
}

.dark body {
  background-color: #0f172a; /* background-dark */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: theme('colors.background.light');
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.border.light');
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0; /* A slightly darker gray for hover */
}

/* Dark Mode Scrollbar Styles */
.dark ::-webkit-scrollbar-track {
  background-color: theme('colors.background.dark');
}

.dark ::-webkit-scrollbar-thumb {
  background-color: theme('colors.border.dark');
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #505050; /* A slightly lighter gray for dark mode hover */
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
